:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #933150;
  --first-color-alt: #694769;
  --title-color: #e27396;
  --text-color: #694384;
  --body-color: #b38fb9;
  --container-color: #fddbee;

  /*========== Font and typography ==========*/
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: 100;
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 45px;
  border-radius: 50%;
}

.nav-logo {
  color: var(--title-color);
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--container-color);
  box-shadow: 0 -1px 12px #b38fb9;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}

.nav-name {
  font-size: var(--normal-font-size);
}

.nav-icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}
