:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #e27396;
  --first-color-alt: #694769;
  --title-color: #933150;
  --text-color: #694384;
  --body-color: #b38fb9;
  --container-color: #fddbee;
  --container-color2: white;

  /*========== Font and typography ==========*/
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --h1-font-size: 2.25rem;
  --normal-font-size: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color2);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  padding-left: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content {
  position: absolute;
  top: 4rem;
  bottom: 4rem;
  width: 100%;
  overflow-y: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: 100;
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 45px;
  border-radius: 50%;
}

.nav-logo {
  color: var(--title-color);
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--container-color);
  box-shadow: 0 -1px 12px #b38fb9;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--first-color);
  font-weight: 600;
}

.nav-link img {
  height: 28px;
  width: auto;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}

.nav-name {
  font-size: var(--normal-font-size);
}

.nav-icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color-alt);
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(30%) sepia(9%) saturate(2246%)
    hue-rotate(251deg) brightness(91%) contrast(81%);
}

/*=============== TIPS ===============*/

.tip-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tip-card {
  width: 600px;
  height: 125px;
  background: linear-gradient(var(--body-color), var(--first-color-alt));
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

/*=============== EXERCISES ===============*/

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.easy, .medium, .hard {
  width: 600px;
  height: 220px;
  background: linear-gradient(var(--body-color), var(--first-color-alt));
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #694769;
  height: 1px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.top {
  display: flex;
  padding: 10px;
  text-align: center;
}

/*=============== CALENDAR ===============*/

.week {
  left: 3.2rem; 
  top: 137px; 
  position: absolute; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 18px; 
  display: inline-flex
}

.day-selected {
  padding-left: 18px; 
  padding-right: 18px; 
  padding-top: 13px; 
  padding-bottom: 13px; 
  background: #694384; 
  border-radius: 28.50px; 
  overflow: hidden; 
  border: 2px #694384 solid; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  color: white; 
  font-size: 20px; 
  font-weight: 400; 
  word-wrap: break-word
}

.day {
  padding-left: 18px; 
  padding-right: 18px; 
  padding-top: 13px; 
  padding-bottom: 13px; 
  background: white; 
  border-radius: 28.50px; 
  overflow: hidden; 
  border: 2px #694384 solid; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  color: #694384; 
  font-size: 20px; 
  font-weight: 400; 
  word-wrap: break-word
}

.day-name {
  top: 99px; 
  position: absolute; 
  color: var(--title-color); 
  font-size: 20px; 
  font-weight: 400; 
  word-wrap: break-word;
}

.month {
  left: 150px; 
  top: 10px; 
  position: absolute; 
  color: var(--text-color); 
  font-size: 64px; 
  font-weight: 600; 
  word-wrap: break-word
}

.date {
  left: 162px; 
  top: 223px; 
  position: absolute; 
  color: var(--title-color); 
  font-size: 24px; 
  font-style: italic; 
  font-weight: 400; 
  word-wrap: break-word
}

.data {
  left: 30px; 
  top: 280px; 
  width: 575px; 
  height: 490px; 
  position: relative; 
  border-radius: 28.50px; 
  background: var(--container-color)
}

.data-name {
  left: 40px; 
  position: absolute; 
  color: var(--text-color); 
  font-size: 25px; 
  font-weight: 600; 
  word-wrap: break-word;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/*=============== FORM ===============*/

fieldset {
  padding: 0.5rem;
  border: 0
}

fieldset textarea,input {
  background-color: #f7f7f7;
  box-shadow: 0 0 0 1px var(--body-color);
  padding: 0.5rem;
  width: 95%;
  margin: 0.6rem auto;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  transition: 0.3s ease;
}

fieldset textarea {
  min-height: 40px;
  max-height: 60px;
}

fieldset textarea:hover,input:hover {
  box-shadow: 0 0 0 1px var(--text-color);
  background-color: #fff;
}

fieldset textarea:focus,input:focus {
  box-shadow: 0 0 0 1px var(--text-color),
              inset 0 2px 5px -1px rgba(0,0,0,0.25);
}

.left-field {
  width: 35%;
  float: left;
  font-weight: 500;
  color: var(--text-color);
}

.right-field {
  position: relative;
  width: 65%;
  float: right;
  font-weight: 300;
}

.right-field:focus-within img {
  display: inline-block;
}

.right-field img {
  display: none;
}

/*========= DATA ENTRY =========*/
.data-date {
  color: var(--title-color);
}

.data-entry-btn {
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background: var(--title-color);
  font-size: var(--normal-font-size);
  color: white;
  border: none;
}

.divider {
  background: var(--text-color);
  height: 2px;
}

.entry-title {
  font-size: 1.75rem;
  color: var(--title-color);
  padding-left: 20px;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.entry-selection {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 2.5rem;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.input {
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  font-size: var(--normal-font-size);
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0.15rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  border-color: var(--first-color);
  line-height: 1.15;
}

.input-align:focus-within img {
  display: inline-block;
}

.input-align img {
  display: none;
}

.input-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.add-button {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}

.check-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 30px;
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.list-text {
  padding-left: 10px;
}

.le-checkbox {
  transform: scale(2);
}

.notes-box {
  width: 600px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 3rem;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 10px;
  font-size: var(--normal-font-size);
}

.keyboardImg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 640px;
  z-index: 101;
}

.entry-note:focus-within img {
  display: inline-block;
}

.entry-note img {
  display: none;
}

/*========= TABLE =========*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--title-color);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-size: var(--normal-font-size);
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

/*========= TIPS ARTICLES =========*/
.article-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.article-card {
  width: 280px;
  height: 200px;
  background: var(--container-color);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  color: var(--text-color);
  text-decoration: none;
}

.article-img {
  margin: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  background: linear-gradient(var(--first-color-alt), var(--body-color));
  border-radius: 30px 30px 0 0;
}

.article-title {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

/*========= EXERCISE & FOOD ENTRY =========*/
.data-table-entry {
  padding-left: 20px;
}

.data-table-entry div p {
  font-size: var(--normal-font-size);
}

.total-row {
  margin-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 160px;
}

#weight-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
