:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #e27396;
  --first-color-alt: #694769;
  --title-color: #933150;
  --text-color: #694384;
  --body-color: #b38fb9;
  --container-color: #fddbee;
  --container-color2: white;

  /*========== Font and typography ==========*/
  --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --h1-font-size: 2.25rem;
  --normal-font-size: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color2);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  padding-left: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content {
  position: absolute;
  top: 4rem;
  bottom: 4rem;
  width: 100%;
  overflow-y: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: 100;
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 45px;
  border-radius: 50%;
}

.nav-logo {
  color: var(--title-color);
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--container-color);
  box-shadow: 0 -1px 12px #b38fb9;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: 0.4s;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--first-color);
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}

.nav-name {
  font-size: var(--normal-font-size);
}

.nav-icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--first-color-alt);
  transition: 0.3s;
}

/*=============== TIPS ===============*/

.tip-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tip-card {
  width: 600px;
  height: 125px;
  background: linear-gradient(var(--body-color), var(--first-color-alt));
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

/*=============== CALENDAR ===============*/
.month {
  padding: 4rem;
  width: 100%;
  background: var(--body-color);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--text-color);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.weekdays {
  margin: 0;
  padding: 2rem 1rem;
  background-color: var(--container-color);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: var(--title-color);
  font-size: 2.5rem;
  text-align: center;
}

.days {
  padding: 1rem 0;
  background: white;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  color: var(--title-color);
}

.days li .active {
  padding: 1rem;
  background: var(--body-color);
  color: white !important;
}

@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

/*========= DATA ENTRY =========*/
.data-date {
  color: var(--title-color);
}

.data-entry-btn {
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background: var(--title-color);
  font-size: var(--normal-font-size);
  color: white;
  border: none;
}

.divider {
  background: var(--text-color);
  height: 2px;
}

.entry-title {
  font-size: 1.75rem;
  color: var(--title-color);
  padding-left: 20px;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.entry-selection {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 2.5rem;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.input {
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  font-size: var(--normal-font-size);
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0.15rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid transparent;
  border-color: var(--first-color);
  line-height: 1.15;
}

.input-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.add-button {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
}

.emoji-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  font-weight: 600;
}

/*========= TABLE =========*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--title-color);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-size: var(--normal-font-size);
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}
